@import "bootstrap.min.css";

.App {
    height: 100%;
}

html, body, main {
    background: whitesmoke;
    height: 100%;
}

#root {
    height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
    background: white;
}

.content {
    padding: 10px 0;
}

.App-link {
    color: #61dafb;
}

.home-tab {
    background: chocolate;
    padding: 10px;
    width: 100px;
    margin: auto;
}

.search-bar {
    width: 100%;
}
